*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}


@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


body{
	font-family: 'Comfortaa', cursive;
	color: #E9F06D;
	padding: 50px;
	line-height: 30px;
	background: url(../Img/bg.jpg);
}

h1{
	text-transform: uppercase;
	line-height: 50px;
	text-align: center;
	font-size: 50px;
	margin: 0 0 50px 0;
	color: #424242;

}

img{
	width: 450px;
}

.car1:after{
		content: '';
		position: absolute;
		width: 700px;
		top: 510px;
		height: 3px;
		left: 100px;
		background-color: #424242;
		border-radius: 40%;
		margin: 0px 0px 0px -25px;
}

.car1__description{
	position: absolute;
	top: 120px;
	left: 570px;
}

.car1__description_text{
	color: #424242;
	font-size: 20px;
	margin: 10px;
	font-style: italic;
}


.car1__description_list li:nth-child(1){
	background: url(../Img/icon/auto.jpg) no-repeat;
	padding: 0 0 0 34px;
	background-size: contain;
}

.car1__description_list li:nth-child(2){
	background: url(../Img/icon/price.png) no-repeat;
	padding: 0 0 0 34px;
	background-size: contain;
}

.car1__description_list li:nth-child(3){
	background: url(../Img/icon/speed.png) no-repeat;
	padding: 0 0 0 34px;
	background-size: contain;
}




table{
	background: url(../Img/bg.jpg);
	color: #575651;
	border-collapse: separate;
	text-align: center;
	width: 600px;
	height: 200px;
	border-spacing: 5px;
	border: 11px solid #424242;
	border-radius: 10px;
	font-size: 13px;
	margin-top: 15px;
}
th{
	padding: 10px;
	text-align: center;
	font-size: 18px;
}
td{

	background: #D0CE90;
	font-size: 12px;
	padding: 5px;
	color: #87866A;
} 

table tr:nth-child(2) td:nth-child(1){
	width: 50px; font-size: 18px; 
	background: url(../Img/bg.jpg); 
	transform: rotate(-90deg);
	padding: 10px;
	color: #575651;
}

table tr:nth-child(2) td:nth-child(2){
	font-weight: 600;
	font-size: 14px;
}

table tr:nth-child(2) td:nth-child(3){
		font-weight: 600;
	font-size: 14px;
}

.car2{
	margin: 115px 0 0 0;
}
.car2:after{
	content: '';
	position: absolute;
	width: 700px;
	top: 920px;
	height: 3px;
	left: 100px;
	background-color: #424242;
	border-radius: 40%;
	margin: 0px 0px 0px -25px;
}

.car2__description{
	position: absolute;
	top: 530px;
	left: 570px;
}

.car2__description_text{
	color: #424242;
	font-size: 20px;
	margin: 10px;
	font-style: italic;
}


.car2__description_list li:nth-child(1){
	background: url(../Img/icon/auto.jpg) no-repeat;
	padding: 0 0 0 34px;
	background-size: contain;
}

.car2__description_list li:nth-child(2){
	background: url(../Img/icon/price.png) no-repeat;
	padding: 0 0 0 34px;
	background-size: contain;
}

.car2__description_list li:nth-child(3){
	background: url(../Img/icon/speed.png) no-repeat;
	padding: 0 0 0 34px;
	background-size: contain;
}

.car3{
	margin: 170px 0 0 0;
}

.car3:after{	
	content: '';
	position: absolute;
	width: 700px;
	top: 1335px;
	height: 3px;
	left: 100px;
	background-color: #424242;
	border-radius: 40%;
	margin: 0px 0px 0px -25px;
}

.car3__description{
	position: absolute;
	top: 940px;
	left: 570px;
}

.car3__description_text{
	color: #424242;
	font-size: 20px;
	margin: 10px;
	font-style: italic;
}


.car3__description_list li:nth-child(1){
	background: url(../Img/icon/auto.jpg) no-repeat;
	padding: 0 0 0 34px;
	background-size: contain;
}

.car3__description_list li:nth-child(2){
	background: url(../Img/icon/price.png) no-repeat;
	padding: 0 0 0 34px;
	background-size: contain;
}

.car3__description_list li:nth-child(3){
	background: url(../Img/icon/speed.png) no-repeat;
	padding: 0 0 0 34px;
	background-size: contain;
}
.car4{
	margin: 145px 0 0 0;
	padding: 0 0 50px 0;
}
.car4__description{
	position: absolute;
	top: 1360px;
	left: 570px;
}

.car4__description_text{
	color: #424242;
	font-size: 20px;
	margin: 10px;
	font-style: italic;
}

.car4__description_list li:nth-child(1){
	background: url(../Img/icon/auto.jpg) no-repeat;
	padding: 0 0 0 34px;
	background-size: contain;
}

.car4__description_list li:nth-child(2){
	background: url(../Img/icon/price.png) no-repeat;
	padding: 0 0 0 34px;
	background-size: contain;
}

.car4__description_list li:nth-child(3){
	background: url(../Img/icon/speed.png) no-repeat;
	padding: 0 0 0 34px;
	background-size: contain;